{% extends "header.html" %}

{% block content %}
<div class="row">

    <div class="col-auto">
        {% if image %}
            <!-- profile picture container -->
            <div class="profile-picture-container rounded-lg">
                <!-- if image or profile picture is default-->
                {% if image[-4:] == '.jpg' %}
                    <img class="profile-pic" src="{{ image }}" alt="Profile Picture">
                {% else %}
                    <img class="profile-pic" src="data:image/png;base64,{{ image }}" alt="Profile Picture">
                {% endif %}

                <!-- name in the profile account -->
                <div class="username-container">
                    <h3 class="username-text">{{ current_user.firstname }}</h3>
                </div>
            </div>
        {% endif %}

        <!-- user's stats and achievements-->
        <div class="row">
            <div class="small-squares rounded-lg">
                <!-- Content for first small square -->
            </div>
            <div class="small-squares rounded-lg">
                <!-- Content for second small square -->
            </div>
            <div class="small-squares rounded-lg">
                <!-- Content for second small square -->
            </div>
            <div class="small-squares rounded-lg">
                <!-- Content for second small square -->
            </div>
        </div>

        <div class="contact-details-box rounded-lg">

        </div>
    </div>

    <!-- 2nd half of webpage !-->
    <div class="col">
        <!-- first rectangle!-->
        <div class="rectangle rounded-lg">
            <!--TODO-->
        </div>
        
        <!-- second rectangle!-->
        <div class="rectangle rectangle-larger rounded-lg">
            <!-- TODO -->
        </div>

          <!-- third rectangle!-->
          <div class="rectangle rectangle-largest rounded-lg">
            <!-- TODO -->
        </div>
    </div>

</div>



<!-- <div class="row">
    <div class="col">
        <h3>
            Update Username
        </h3>
        <form method="POST" action="">
            {{ update_username_form.csrf_token }}
            <div class="form-group">
                {{ update_username_form.username.label }}
                {{ update_username_form.username(class="form-control") }}
                {% if update_username_form.username.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in update_username_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ update_username_form.submit_username() }}
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3>
            Update Profile Picture
        </h3>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ update_profile_picture_form.csrf_token }}
            <div class="form-group">
                {{ update_profile_picture_form.picture.label }}
                {{ update_profile_picture_form.picture(class="form-control") }}
                {% if update_profile_picture_form.picture.errors %}
                <div class="alert alert-warning" role="alert">
                    {% for error in update_profile_picture_form.picture.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ update_profile_picture_form.submit_picture() }}
        </form>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col">
        <a href="{{ user_reviews_url }}">View all my reviews</a>
    </div>
</div> -->
{% endblock %}