{% extends "header.html" %}

{% block content %}

{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for school in schools %}
    <div class="media">
        <img src="{{ school.generate_map() }}" class="mr-3 schoolmaps" alt="Map">
        <div class="media-body">
        <h5 class="mt-0"><a href="{{ url_for('content.school_detail') }}">
            {{ school.name }}</a> ({{ school.school_type }})</h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}